<!--letakkan kode ads di bawah baris ini-->
<p>Download/Simpan Resep: <a href="https://rebrand.ly/resep-48aced" target="_blank"><strong>{{ .Title }}.pdf</strong></a></p>
<br>
<p style="text-align: center;"><script type="text/javascript">
	atOptions = {
		'key' : '5177c2f6911895c281c7fa549c67bb14',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://painsdire.com/5177c2f6911895c281c7fa549c67bb14/invoke.js"></scr' + 'ipt>');
</script></p>
<!-- Composite Start -->
<div id="M632148ScriptRootC1024903">
</div>
<script src="https://jsc.mgid.com/e/a/easy.dishesrecipes.xyz.1024903.js" async>
</script>
<!-- Composite End -->
